@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model WebCarRentalSystem.ViewModels.DashboardViewModel

<head>
    <style>
        body {
            background-image: url("https://www.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-10-full.jpg");
            background-size:cover;
            background-repeat:no-repeat;
        }
    </style>
</head>

<body>
    <div class="container p-3 text-center">
        <div class="row pt-4">
                <h2 class="text-primary"><strong>Your Dashboard</strong></h2>
        </div>
    </div>

    <form asp-action="Index" method="get">
        <div class="container p-3">
            <div class="row pt-0">
                <div class="col-6">
                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Contract" asp-action="Create">Create Contract</a>
                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="User" asp-action="EditProfile">Edit User Profile</a>
                </div>
            </div>
        </div>
    </form>

    <table class=" table table-bordered table-striped text-bg-light" style="width:100%">
        <thead>
            <tr>
                <th>
                    Car
                </th>
                <th>
                    Contract Date
                </th>
                <th>
                    Date End
                </th>
                <th>
                    Contract Days
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Contracts)
            {
                <tr>
                    <td width="17%">
                        @obj.Car.Model.Marka @obj.Car.Model.Model
                    </td>
                    <td width="17%">
                        @obj.DateContract
                    </td>
                    <td width="17%">
                        @obj.DateEnd
                    </td>
                    <td width="17%">
                        @obj.ContractDays
                    </td>
                    <td width="17%">
                        @obj.Price
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>