@model IEnumerable<Client>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Client List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-asp-controller="Client" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Client
            </a>
        </div>
    </div>
</div>

<table class=" table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Passport
            </th>
            <th>
                Drive Years
            </th>
            <th>
                Rating
            </th>
            <th>
                Home Address
            </th>
            <th>
                Telephone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="15%">
                    @obj.Passport
                </td>
                <td width="15%">
                    @obj.DYears
                </td>
                <td width="15%">
                    @obj.Rating
                </td>
                <td width="65%">
                    @obj.HomeAddress
                </td>
                <td width="15%">
                    @obj.Telephone
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Client" asp-action="Edit" asp-route-id="@obj.Id"
                       class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-controller="Client" asp-action="Delete" asp-route-id="@obj.Id"
                       class="btn btn-danger mx-2"> <i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>