@model IEnumerable<Contract>

<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Contract List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-asp-controller="Contract" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New Contract
                </a>
            </div>
        </div>
    </div>

    <table class=" table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Date Contract
                </th>
                <th>
                    Date End
                </th>
                <th>
                    Registration Number
                </th>
                <th>
                    Contract Days
                </th>
                <th>
                    Price
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="20%">
                        @obj.Id
                    </td>
                    <td width="20%">
                        @obj.DateContract
                    </td>
                    <td width="20%">
                        @obj.DateEnd
                    </td>
                    <td width="20%">
                        @obj.Car.CarRegNumber
                    </td>
                    <td width="20%">
                        @obj.ContractDays
                    </td>
                    <td width="20%">
                        @obj.Price
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Contract" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                            <a asp-controller="Contract" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ViewBag.Page > 0)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
       class="btn btn-default">
            &laquo; Prev
        </a>
    }
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
       class="btn btn-default">
            Next &raquo;
        </a>
    }
</body>
